
/* Posicionamiento */

div {
    border: 1px solid #00f;
    margin: 20px;
}

p {
    border: 1px solid #00f;
    margin: 5px;
    width: 100px;
}

a {
    border: 1px solid #00f;
    margin: 5px;
    width: 100px;
}

img {
    margin: 5px;
}


/* ------------------------------
   Posición Normal
   ------------------------------ */

.normal {
    position: static;
}


/* ------------------------------
   Posición Fija
   ------------------------------ */

/* .fija {
    position: fixed;
    top: 280px;
    left: 10px
} */


/* ------------------------------
   Posición Absoluta
   ------------------------------ */

.absoluta {
    position: relative;
}

.absoluta2 {
    position: absolute;
    top: 10px;
    left: 10px;
}


/* ------------------------------
   Posición Relativa
   ------------------------------ */

.relativa {
    position: static;
}
.relativa2 {
    position: relative;
    top: 10px;
    left: 10px;
}


/* ------------------------------
   Posición Flotante
   ------------------------------ */

.flotar-alto {
    height: 50px;
}

.flotar-parrafo {
    border: none;
    width: auto;
}

.flotar-derecha {
    float: right;
}

.flotar-izquierda {
    float: left;
}

.flotar-clear {
    clear: both;
}


/* ------------------------------
   Visualización
   ------------------------------ */

.visualizacion-enlinea p {
    display: inline;
}

.visualizacion-bloque a {
    display: block;
}

.visualizacion-nada {
    display: none;
}

.visualizacion-oculto {
    visibility: hidden;
}


/* ------------------------------
   Desborde
   ------------------------------ */

.desborde {
    height: 150px;
    width: 150px;
    float: left;
}

.desborde-visible {
    overflow: visible;
}

.desborde-oculto {
    overflow: hidden;
}

.desborde-barras {
    overflow: scroll;
}

.desborde-auto {
    overflow: auto;
}
