
/* Colores */


/* ------------------------------
   Palabra clave
   ------------------------------ */

#parrafo1 {
    color: red;
}


/* ------------------------------
   RGB decimal
   ------------------------------ */

#parrafo2 {
    color: rgb(255,0,0);
}


/* ------------------------------
   RGB porcentual
   ------------------------------ */

#parrafo3 {
    color: rgb(100%,0%,0%);
}


/* ------------------------------
   RGBA (decimal o porcentual)
   ------------------------------ */

#parrafo4 {
    color: rgba(255,0,0,0.5);
}


/* ------------------------------
   RGB hexadecimal
   ------------------------------ */

#parrafo5 {
    color: #ff0000;
}


/* ------------------------------
   RGB hexadecimal comprimido
   ------------------------------ */

#parrafo6 {
    color: #f00;
}


/* --- Separadores --- */

hr {
    margin: 25px 0;
}
